 
.form{
  display: flex;
  flex-direction: column;
  gap:5px
}

.fgrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
}

.title-input{
  width: 10%;
  padding-bottom: 20px;
}

select, input{
    height: 35px;
    padding: 5px 12px;
    border-radius: 5px;
    border: 0.1px solid #929292;
    background-color: #fdfdfd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.savecontainer{

  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
  margin-top: 20px;
  
}

.savebtn{
  height: 45px;
  gap: 20px;
  padding: 10px 20px;
  width: 10.5%;
  cursor: pointer;
  color: #fdfdfd;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  border: none;
  background-color: #3017d0;
}

.savebtn:hover{
  background-color: #233043;
    transform: scale(1.05);
}

.responsearea{
  margin-top: 20px;
}